In [69]:
import numpy as np # linear algebra
import pandas as pd #read data

In [70]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, confusion_matrix

In [41]:
fraud_data= pd.read_csv('Fraud.csv') #observe the data

In [71]:
fraud_data.head()

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
0,1,PAYMENT,9839.64,C1231006815,170136.0,160296.36,M1979787155,0.0,0.0,0,0
1,1,PAYMENT,1864.28,C1666544295,21249.0,19384.72,M2044282225,0.0,0.0,0,0
2,1,TRANSFER,181.00,C1305486145,181.0,0.00,C553264065,0.0,0.0,1,0
3,1,CASH_OUT,181.00,C840083671,181.0,0.00,C38997010,21182.0,0.0,1,0
4,1,PAYMENT,11668.14,C2048537720,41554.0,29885.86,M1230701703,0.0,0.0,0,0

In [43]:
print(fraud_data.shape) #shape of the data

(6362620, 11)

In [44]:
#describe the data
fraud_data.describe()

,step,amount,oldbalanceOrg,newbalanceOrig,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
count,6.362620e+06,6.362620e+06,6.362620e+06,6.362620e+06,6.362620e+06,6.362620e+06,6.362620e+06,6.362620e+06
mean,2.433972e+02,1.798619e+05,8.338831e+05,8.551137e+05,1.100702e+06,1.224996e+06,1.290820e-03,2.514687e-06
std,1.423320e+02,6.038582e+05,2.888243e+06,2.924049e+06,3.399180e+06,3.674129e+06,3.590480e-02,1.585775e-03
min,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,1.560000e+02,1.338957e+04,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
50%,2.390000e+02,7.487194e+04,1.420800e+04,0.000000e+00,1.327057e+05,2.146614e+05,0.000000e+00,0.000000e+00
75%,3.350000e+02,2.087215e+05,1.073152e+05,1.442584e+05,9.430367e+05,1.111909e+06,0.000000e+00,0.000000e+00
max,7.430000e+02,9.244552e+07,5.958504e+07,4.958504e+07,3.560159e+08,3.561793e+08,1.000000e+00,1.000000e+00

In [45]:
#check for null values and we observe that there are no null values
fraud_data.isnull().sum()

step              0
type              0
amount            0
nameOrig          0
oldbalanceOrg     0
newbalanceOrig    0
nameDest          0
oldbalanceDest    0
newbalanceDest    0
isFraud           0
isFlaggedFraud    0
dtype: int64

In [46]:
fraud_data.value_counts('isFraud')

isFraud
0    6354407
1       8213
dtype: int64

In [47]:
# sperateing the dataset based on the class
legit = fraud_data[fraud_data.isFraud== 0]
fraud = fraud_data[fraud_data.isFraud == 1]

In [48]:
#Analysing data based on the amount withdraw
legit.amount.describe()

count    6.354407e+06
mean     1.781970e+05
std      5.962370e+05
min      1.000000e-02
25%      1.336840e+04
50%      7.468472e+04
75%      2.083648e+05
max      9.244552e+07
Name: amount, dtype: float64

In [49]:
fraud.amount.describe()

count    8.213000e+03
mean     1.467967e+06
std      2.404253e+06
min      0.000000e+00
25%      1.270913e+05
50%      4.414234e+05
75%      1.517771e+06
max      1.000000e+07
Name: amount, dtype: float64

In [50]:
# grouping the based on the class
fraud_data.groupby('isFraud').mean()

,step,amount,oldbalanceOrg,newbalanceOrig,oldbalanceDest,newbalanceDest,isFlaggedFraud
isFraud,,,,,,,
0,243.235663,1.781970e+05,8.328287e+05,855970.228109,1.101421e+06,1.224926e+06,0.000000
1,368.413856,1.467967e+06,1.649668e+06,192392.631836,5.442496e+05,1.279708e+06,0.001948

In [51]:
# for the blancing the dataset, 
new_legit = legit.sample(n = 500 , axis = 0)

In [52]:
new_legit.value_counts('isFraud')

isFraud
0    500
dtype: int64

In [53]:
new_legit.describe()

,step,amount,oldbalanceOrg,newbalanceOrig,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
count,500.000000,5.000000e+02,5.000000e+02,5.000000e+02,5.000000e+02,5.000000e+02,500.0,500.0
mean,236.802000,1.511585e+05,7.429416e+05,7.639044e+05,7.745727e+05,8.672615e+05,0.0,0.0
std,141.888716,2.909138e+05,2.570258e+06,2.601837e+06,1.591116e+06,1.680441e+06,0.0,0.0
min,7.000000,2.119700e+02,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.0,0.0
25%,153.000000,1.247000e+04,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.0,0.0
50%,230.500000,6.263082e+04,1.166600e+04,0.000000e+00,1.071660e+05,1.796267e+05,0.0,0.0
75%,330.000000,1.966499e+05,9.821234e+04,1.245125e+05,7.398767e+05,1.001519e+06,0.0,0.0
max,691.000000,3.260131e+06,2.289622e+07,2.308785e+07,1.388433e+07,1.393527e+07,0.0,0.0

In [54]:
# let concanate legit and fraudent dataset
data = pd.concat([new_legit,fraud])

In [55]:
data.describe()

,step,amount,oldbalanceOrg,newbalanceOrig,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
count,8713.000000,8.713000e+03,8.713000e+03,8.713000e+03,8.713000e+03,8.713000e+03,8713.000000,8713.000000
mean,360.861242,1.392402e+06,1.597635e+06,2.251891e+05,5.574668e+05,1.256039e+06,0.942614,0.001836
std,215.004519,2.355278e+06,3.505256e+06,2.011841e+06,3.262010e+06,3.817448e+06,0.232591,0.042816
min,1.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000
25%,178.000000,1.133390e+05,1.058611e+05,0.000000e+00,0.000000e+00,0.000000e+00,1.000000,0.000000
50%,355.000000,3.855672e+05,3.970691e+05,0.000000e+00,0.000000e+00,1.661995e+04,1.000000,0.000000
75%,549.000000,1.418169e+06,1.455382e+06,0.000000e+00,1.792231e+05,1.054983e+06,1.000000,0.000000
max,743.000000,1.000000e+07,5.958504e+07,4.958504e+07,2.362305e+08,2.367265e+08,1.000000,1.000000

In [56]:
data.shape

(8713, 11)

In [57]:
data['isFraud'].value_counts() #the derived data set constitutes the fraud points much more efficiently

1    8213
0     500
Name: isFraud, dtype: int64

In [58]:
data.groupby('isFraud').mean()  #the averages remain almost the same

,step,amount,oldbalanceOrg,newbalanceOrig,oldbalanceDest,newbalanceDest,isFlaggedFraud
isFraud,,,,,,,
0,236.802000,1.511585e+05,7.429416e+05,763904.386600,774572.701920,8.672615e+05,0.000000
1,368.413856,1.467967e+06,1.649668e+06,192392.631836,544249.619075,1.279708e+06,0.001948

In [79]:
X = data.drop('isFraud',axis = 1)
Y = data['isFraud']
X=X.drop('type',axis=1)
X=X.drop(['nameOrig','nameDest'],axis=1)

In [80]:
print(X.shape,Y.shape)

(8713, 7) (8713,)

In [81]:
 #SPlit the data into train and test perpotion of the class
X_train,X_test,Y_train, Y_test = train_test_split(X,Y,test_size = 0.2, stratify  =Y, random_state = 1)

In [82]:
print(X.shape, X_train.shape, X_test.shape)

(8713, 7) (6970, 7) (1743, 7)

In [83]:
# loading the the model for training
classifier = LogisticRegression()

In [85]:
# fit the train data
classifier.fit(X_train,Y_train)

LogisticRegression()

In [86]:
X_train_prediction = classifier.predict(X_train)
X_train_accuracy = accuracy_score(X_train_prediction,Y_train)
print(X_train_accuracy)

0.9558106169296987

In [86]:
X_train_prediction = classifier.predict(X_train)
X_train_accuracy = accuracy_score(X_train_prediction,Y_train)
print(X_train_accuracy)

0.9558106169296987

In [87]:
# confusion matix on train data
conf_train = confusion_matrix(X_train_prediction,Y_train)
print(conf_train)

[[ 127   35]
 [ 273 6535]]

In [88]:
# checking accurary on train data
X_test_prediction = classifier.predict(X_test)
X_test_accuracy = accuracy_score(X_test_prediction,Y_test)
print(X_test_accuracy)

0.9621342512908778

In [89]:
# confusion matix on test data
conf_test = confusion_matrix(X_test_prediction,Y_test)
print(conf_test)

[[  37    3]
 [  63 1640]]

In [95]:
X_train_prediction = classifier.predict(X_train)
X_train_accuracy = accuracy_score(X_train_prediction,Y_train)
print(X_train_accuracy)

0.9558106169296987